<div class="row">
   <div class="col-md-6 mx-auto">
      <div class="card card-body">
         <img src="/img/logo.png" class="logo" alt="">
         <h3 class="text-center">Account Register</h3>
         <form action="/users/register" method="POST">
            <div class="form-group">
               <label for="name">Name</label>
               <input name="name" type="name" class="form-control" value="{{name}}" requried>
            </div>
            <div class="form-group">
               <label for="email">Email</label>
               <input name="email" type="email" class="form-control" value="{{email}}" requried>
            </div>
            <div class="form-group">
               <label for="password">Password</label>
               <input name="password" type="password" class="form-control" value="{{password}}" requried>
            </div>
            <div class="form-group">
               <label for="password2">Confirm Password</label>
               <input name="password2" type="password" class="form-control" value="{{password2}}" requried>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>
   </div>
</div>
